@model IEnumerable<_403Project1.Models.School>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolZIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolZIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SchoolID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SchoolID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SchoolID })
        </td>
    </tr>
}

</table>
