@model _403Project1.Models.FAQ

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lehi</title>
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Schools")">Location</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lehi</li>
        </ol>
    </nav>
    <div>
        <h2>School Facts</h2>
        <table class="table">
            <tr class="table-primary">
                <td>school name</td>
                <td>@ViewBag.School</td>
            </tr>
            <tr class="table-secondary">
                <td>School directors name</td>
                <td>@ViewBag.Director</td>
            </tr>
            <tr class="table-success">
                <td>school address</td>
                <td>@ViewBag.Address</td>
            </tr>
            <tr class="table-danger">
                <td>Enrollment</td>
                <td>@ViewBag.Enrollment</td>
            </tr>
        </table>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-8">

        </div>
    </div>

</body>
</html>
