<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-text-color" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Learning Dynamics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-text-color">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Enroll", "Index", "Contact")</li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">See FAQ's for our schools</button>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Lehi", "Schools")">Lehi</a>
                                <a href="@Url.Action("Riverton", "Schools")">Riverton</a>
                                <a href="@Url.Action("Gilbert", "Schools")">Gilbert</a>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Anchored to the right-side of the navbar -->
                <div class="pull-right nav navbar-nav" style="padding-top:8px;font-family:Bahnschrift; font-weight:500">
                    <button class="btn btn-primary" type="button" style="padding:0px,0px,0px,15px;margin:8px;font-family:Bahnschrift;font-size:larger;font-weight:500;" onclick="location.href='/Login/Logout'">
                        <!-- Login and Register button -->
                        Login/Register
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
